$type-16: (
    null: (14px, $baseline-x3),
    sm: (16px, $baseline-x3)
);
$type-20: (
    null: (18px, $baseline-x3),
    sm: (20px, $baseline-x4)
);
$type-28: (
    null: (20px, $baseline-x4),
    sm: (28px, $baseline-x5)
);
$type-35: (
    null: (25px, $baseline-x5),
    sm: (35px, $baseline-x5)
);
$type-80: (
    null: (70px, $baseline-x13),
    sm: (80px, $baseline-x13)
);